<h1>새로운 사진 올리기</h1>
<form action="/posts/create" method="post" enctype="multipart/form-data">
  제목 : <input type="text" name="title"><br>
  내용 : <input type="text" name="content"><br>
  <input type="file" name="avatar">
  <input type="submit">
</form>
